<div class="row" id="mywork">
  <div class="col-sm-12">

    <h3 class="text-center">My Works</h3>
    <div class="portfolio_list">
      <div class="col-sm-12" *ngFor="let portfolio of portfoliolists">
        <div class="boxlist rounded_box">
          <!-- <h6>{{portfolio.name}}</h6> -->
          <a href="{{portfolio.sitename}}" target="_blank" class="bxtitle">{{portfolio.name}}</a>
          <b style="color:white">Technology used: </b><small> {{portfolio.technology}} </small>
          <br/>
          <span><b style="color:white; text-align:left">Team Size: </b><small> {{portfolio.teamsize}}</small></span>
          <br/>
          <button class="proj_details btn ">Details</button>
        </div>
      </div>
    </div>
  </div>
</div>