.myskill_sec{
    margin-bottom: 5px;
    transition:padding ease-in-out;
}
.mat-progress-bar{
    height: 12px;
}
#skill_set:before{
    width: 50%;
    height: 1px;
    background-color: blue;
    margin:0 auto; 
}
.myskill_sec:hover {
 padding:10px;
 background-color:rgba(0, 0, 0, 0.44);;
}