/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
*{
    /*font-family: Comic Sans MS; */
    font-family: century gothic;

}
.mycontainer{
   /* min-height: 600px; 
    box-shadow: 0 0 10px lightgray;*/ 
    padding-left: 0 !important;
    padding-right: 0 !important;
    color: white; /**/
    min-height: 810px;
    background-color: #0b6969;
}
.mypost {
    color:#eef318;
}
.myimg{
    width: 150px;
    height: 150px;
}
#work_exp{
    list-style: none;
   /* text-align: center;*/
}
.myskill_tbl{
    width:50% !important;
    margin:0 auto;
}
.myskill_tbl tbody tr td{
    padding:3px !important;
    font-size: 13px;
}
.portfolio_list li {
    display: inline-block;
    width:200px;
}
.boxlist {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    background: rgb(6, 80, 80);
    min-height: 100px;
    padding: 5px;
    position: relative;
    margin-bottom: 5px;
    transition: margin .35s ease-in-out;
    
}
.portfolio_box .boxlist:hover {
    margin:10px;
}

.boxlist .bxtitle  {
  text-align: center; 
  display: block;
}
.navbar{
        border-radius: 0 !important; 
}
.rounded_box{
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}

/* Standard syntax *//*
 @keyframes boxlistbump {
    0%   {background-color: lightgray}
    50%  {background-color: gray}
} 

@keyframes boxlistbump{  
       from {bottom:0px;}
       to{bottom:10px}
}*/
