<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                         
      </button>
      <a class="navbar-brand" href="#">Sharad Pawar
       <h6 class="mybirthdate"><i class="fa fa-birthday-cake" aria-hidden="true"></i> 25th march 1989.</h6> 
      </a>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
       
     <!-- </ul> 
       <li [routerLinkActive]="['active']"><a routerLink="/home" routerLinkActive="active">Home</a></li> 
       <li [routerLinkActive]="['active']"><a routerLink="/about" routerLinkActive="active">About</a></li>
       <li [routerLinkActive]="['active']" ><a routerLink="/services" >Services</a></li>
       <li [routerLinkActive]="['active']"><a routerLink="/career" routerLinkActive="active">Career</a></li>
       <li [routerLinkActive]="['active']"><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      -->
      <li><a href="#mywork">My Work</a></li>
      <li><a href="#myeducation">My Education</a></li>
       
      </ul>
      
    <ul id='social_icon' class="nav navbar-nav navbar-right ">
        <li class="navbar-brand"> 
         <span class="reachme">Reach Me: <a href="">+91 9850338825 </a> 
         <a href="mailto:ssspawar25@gmail.com">ssspawar25@gmail.com </a>
         <!--<a href="mailto:developersharad.25@gmail.com"> developersharad.25@gmail.com</a> -->  
         </span>
      </li> 
        <li ><a href="http://github.com/gitsharad" target="_blank"><span class="fa fa-github"></span></a></li>
        <li><a href="https://stackoverflow.com/users/6072583/shaggy" target="_blank"><span class="fa fa-stack-overflow"></span></a></li>
        <li><a href="https://www.linkedin.com/in/sharad-pawar-878b1611a/" target="_blank" ><span class="fa fa-linkedin-square"></span></a></li>
      </ul> 
    </div>  
  </div>
</nav> 




 
