<div class="row">
    <div class="col-sm-8 mycol1">
        <div id="about_worksec" class="row">
            <app-aboutme></app-aboutme>
            <app-workexperience></app-workexperience>
        </div>
        <div id="skill_edusec" class="row">
            <div class="col-sm-4">
                <app-skillsets></app-skillsets>
            </div>
            <div class="col-sm-8">
                <app-education></app-education>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                
            </div>
        </div>

    </div>
    <div class="col-sm-4 mycol2">
        <app-portfolio></app-portfolio>
    </div>
</div>