  <div class="col-sm-4" id="work_exp_main">
    <h3 class="text-center">Work Experience</h3>
    <ul id="work_exp">
      <li>
        <h4>Pitney Bowes<small class="mypost"> (Sr. Software Engineer)</small></h4>
        <p>from : 12 Sep 2017 to Current </p>
      </li>
      <li>
        <h4>CT Info Pvt Ltd <small class="mypost">(Software Engineer)</small></h4>
        <p>from : 6 Jul 2016 to 11 Aug 2017 </p>
      </li>
      <li>
        <h4>HASCue Technology <small class="mypost">(Wordpress Developer)</small></h4>
        <p>from : Jun 2015 to Jun 2016  </p>
      </li>
      <li>
        <h4>S3 Globe Web Solutions <small class="mypost">(Software Developer)</small></h4>
        <p>from : Feb 2013 to Apr 2015 </p>
      </li>

    </ul>
  </div>
