 <div class="col-sm-4 text-center" id="about_me">
     <h3 class="text-center">About Me</h3>
   <!-- <img src="assets/sharadpawar.png" alt="sharadpic" class="img-circle myimg"> -->
        <div class="img-circle myimg" style="
          background-image: url('assets/sharadpawar.png');
          background-size: cover;
          margin: 0 auto;
      "></div>
    
    <p>I am 27-Year-Old Web Developer. from the beautiful city Pune near the west coast of India, in Maharashtra. I work with
      Node.js, PHP, Angular Js.

    </p>
</div>
